// Footer
footer#footer.page-footer.teal.darken-3
    section#contact-form
        .white-text
            .row.remove-margin-bottom
                .col.s12
                    .container
                        h2 Say hello.
                        p.smaller.right *OPTIONAL
                        include ../components/hello
                .col.s12
                    .container
                        h2 Get social.
                        .row.padding-bottom.remove-margin-bottom
                            .col.s12.m3
                                a#linkedin(href='https://www.linkedin.com/in/sajjad-hossain-67674325', target='_blank')
                                    p LinkedIn
                            .col.s12.m3
                                a#twitter(href='https://twitter.com/metaterran', target='_blank')
                                    p Twitter
                            .col.s12.m3
                                a#soundcloud(href='https://soundcloud.com/metaterran', target='_blank')
                                    p SoundCloud
                            .col.s12.m3
                                a#instagram(href='https://www.instagram.com/metaterran', target='_blank')
                                    p Instagram
.footer-copyright.teal.darken-4
    .row.remove-margin-bottom
        .col.s12
            .container
                .right-align.white-text
                    | a <a id="withpulp" href='http://withpulp.com' target='_blank'>WITHPULP</a> experiment