head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    // Google
    meta(name='description' content='Novelist, Artisan, Programmer,  Entrepreneur')
    meta(name='keywords' content='QA, Quality Assurance, QA Analyst, Quality Assurrance Analyst, Quality Assurance Engineer, Automation Engineer, Release Engineer, Test Engineer, Software Engineer in Test, SDET')
    meta(name='author' content='Sajjad Hossain')
    meta(name='copyright' content='2016')
    meta(name='application-name' content='http://sajjad.nyc')
    // FACEBOOK
    meta(property='og:title' content='Sajjad Hossain')
    meta(property='og:type' content='application/http')
    meta(property='og:image' content='/images/logo.png')
    meta(property='og:url' content='http://sajjad.nyc')
    meta(property='og:description' content!= description)
    // TWITTER
    meta(name='twitter:card' content='Novelist, Artisan, Programmer,  Entrepreneur')
    meta(name='twitter:title' content='Sajjad Hossain')
    meta(name='twitter:description' content!='Novelist, Artisan, Programmer,  Entrepreneur')
    meta(name='twitter:image' content='/images/logo.png')
    // PAGE
    link(rel='shortcut icon' href='/images/logo.png')
    title='Sajjad Hossain | Novelist, Artisan, Programmer,  Entrepreneur'
    // CSS
    link(href='/stylesheets/vendor/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='/stylesheets/vendor/pace.css', type='text/css', rel='stylesheet')
    link(href='/stylesheets/style.css', type='text/css', rel='stylesheet', media='screen,projection')
    // JS
    script(src='/javascripts/vendor/jquery-1.11.3.min.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/vendor/pace.js')
    script(src='/javascripts/vendor/modernizr-2.8.3.min.js')
    // Fonts
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Exo+2:300italic,100italic,200italic,200,900italic,300,400,100,400italic,900', rel='stylesheet')