head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    // Google
    meta(name='description' content!= description)
    meta(name='keywords' content!= keywords)
    meta(name='author' content!= name)
    meta(name='copyright' content!= year)
    meta(name='application-name' content!= appUrl)
    // FACEBOOK
    meta(property='og:title' content!= name)
    meta(property='og:type' content='application/http')
    meta(property='og:image' content!= image)
    meta(property='og:url' content!= appUrl)
    meta(property='og:description' content!= description)
    // TWITTER
    meta(name='twitter:card' content!= appName)
    meta(name='twitter:title' content!= name)
    meta(name='twitter:description' content!= description)
    meta(name='twitter:image' content!= image)
    // PAGE
    link(rel='shortcut icon' href!= image)
    title!= name + ' | ' + appName
    // CSS
    link(href='/stylesheets/vendor/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='/stylesheets/vendor/pace.css', type='text/css', rel='stylesheet')
    link(href='/stylesheets/styles.css', type='text/css', rel='stylesheet', media='screen,projection')
    // JAVASCRIPTS
    script(src='https://code.jquery.com/jquery-3.1.1.js')
    script(src='/javascript/vendor/classie.js')
    script(src='/javascript/vendor/init.js')
    script(src='/javascript/vendor/materialize.js')
    script(src='/javascript/vendor/menu.js')
    script(src='/javascript/vendor/modernizr.js')
    script(src='/javascript/vendor/pace.js')
    // Fonts
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Exo+2:300italic,100italic,200italic,200,900italic,300,400,100,400italic,900', rel='stylesheet')
