doctype html
html(itemscope='', itemtype='http://schema.org/Person', lang='en')
    extends layout
    block content
        include includes/components/navbar
        include includes/sections/landing
        #site
            include includes/sections/about
            include includes/sections/more
            include includes/sections/i_automate_tests
            include includes/sections/i_reproduce_bugs
            include includes/sections/i_code
            include includes/sections/i_blog
            include includes/sections/i_work
            include includes/common/footer
            include includes/components/menu
            
        script(src='/javascript/bundle.js' type='text/javascript' charset='utf-8')
        script(src='/javascript/bundle.js.map' type='text/javascript' charset='utf-8')
