doctype html
html(lang='en')
    extends layout
    block content
        include includes/components/navbar
        include includes/sections/landing
        #site
            include includes/sections/about
            include includes/sections/more
            include includes/sections/i_automate_tests
            include includes/sections/i_reproduce_bugs
            include includes/sections/i_code
            include includes/sections/i_blog
            include includes/sections/i_work
            include includes/common/footer
            include includes/components/menu
        // SCRIPTS
        script(src='/javascripts/vendor/classie.js')
        script(src='/javascripts/vendor/menu.js')
        script(src='/javascripts/vendor/materialize.min.js')
        script(src='/javascripts/vendor/init.js')

