doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        link(rel='stylesheet', href= 'http://www.sajjad.nyc/stylesheets/mail.css')
        link(rel='stylesheet', href= 'http://www.sajjad.nyc/stylesheets/vendor/materialize.min.css')
        //GOOGLE FONTS
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet' type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Exo+2:300italic,100italic,200italic,200,900italic,300,400,100,400italic,900' rel='stylesheet' type='text/css')
block content
    .container
        div(class='row')
            div(class='col s12')
                div(class='valign-wrapper')
                    div(class='row valign')
                        div(class='card')
                            div(class='card-image')
                                img(src= 'http://resumebuilder.sajjad.nyc/images/maghrib.jpg')
                                h1.truncate
                                    span(class='card-title heavy-font') Meet Maghrib
                            div(class='card-content')
                                p(class='flow-text padding-top') Thanks for reaching out!
                                blockquote #{message}
                                p #{senderName} #{senderEmail}
                                br
                                p(class='flow-text padding-top') Well, now that you have my information, you can have your people set something up with my people. ;) I'll reply as soon as I get the chance. But in the meanwhile, let me introduce a dear friend of mine.
                                p(class='flow-text padding-top') This is Maghrib <span class="small" style="font-style:italic"> (maġrib).</span> He loves the heated space atop my laptop keyboard. <strong>Fun Fact:</strong> The picture above captures him in a position we at <a href="http://www.withpulp.com">With Pulp</a> call "Cat Loaf". :D

                                p(class='flow-text padding-top') Look forward to speaking to you!
                                div(class='right-align')
                                    p(class='padding-top') Best,
                                    p #{name}
