// About
section#about
    .row.remove-margin-bottom
        .hide-on-med-and-up.padding-top
        .col.s12.center.hide-on-med-and-up
            img.responsive-img.height-200(src='images/logo.png')
        .col.s12
            .container
                h2 I am a developer.
                .row.remove-margin-bottom.valign-wrapper
                    .col.s12.m8.valign
                        .left-align
                            p.flow-text
                                | I am an Automation Engineer by day. By night, I crusade the town serving a cold dish of vigilante justice. My mission is to rid the world of bad UX practices, desktop-first design, poor testing systems and unscalable solutions alike. My hobbies include reading, writing, coding and playing the drums.
                                strong
                                    | &nbsp; I follow the latest standards in W3C HTML, CSS, and Javascript development and believe in clean and minimal code.
                    .col.s12.m4.center.hide-on-small-only.valign
                        img.responsive-img.height-200(src='images/logo.png')