// Automation
section#automation
    .black.white-text
        .row.remove-margin-bottom
            .col.s12
                .container
                    h2.left-align I automate tests.
                    p.flow-text
                        | From test strategy to execution, automating tests requires attention to many details. I'll show you with some examples by automating some tests based on the scope of this here web application, <a id="my-application" target="blank" href="http://sajjad.nyc">http://sajjad.nyc</a>.
                    p.flow-text It is a simple web site...
                    blockquote.flow-text
                        | But within the monsters' heart lies many micro-services, applications and dependancies.
                    p.flow-text
                        | In order for test automation to fulfill its heroic purpose, we need information beforehand. Or we should put together some, at the very least in the form of user stories.
                    h3 The Epic
                    p.flow-text
                        | This <a id="user-story" target="blank" href="https://en.wikipedia.org/wiki/User_story">user story</a> will serve as our epic, another way to describe the user experience in a more general scope.
                    .row.remove-margin-bottom
                        .col.s12
                            pre.
                                As a <span class='lime-text'>user</span>
                            pre.
                                I want <span class='lime-text'>an awesome web application</span>
                            pre.
                                So that <span class='lime-text'>I can network with passionate minds</span>.
                        .col.s12.center-align
                            .padding-top.padding-bottom
                                a#automating-tests-for-my-site.waves-effect.white-text.waves-light.btn-flat(href='http://blog.sajjad.nyc/2015/10/25/Automating-Tests-For-My-Site.html', target='_blank') READ MORE
                        .col.s12
                            .hide-on-med-and-down
                                iframe(src='https://player.vimeo.com/video/157240843', width='100%', height='450px', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                            .hide-on-small-only.hide-on-large-only
                                iframe(src='https://player.vimeo.com/video/157240843', width='100%', height='350px', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                            .hide-on-med-and-up
                                iframe(src='https://player.vimeo.com/video/157240843', width='100%', height='200px', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')