// Blog
section#blog
    .row.remove-margin-bottom.padding-bottom.remove-margin-bottom
        .col.s12
            .container
                h2 I blog.
                // List of Posts
                .row.remove-margin-bottom
                    #banner-one
                        .col.s12.m4.l4
                            .card
                                .card-image
                                    img(src='images/banners/one.png')
                                    h5.card-title
                                        | Automating tests for <a>sajjad.nyc</a>.
                                .card-content
                                    p
                                        | These user stories intend to capture some of this web applications' primary features.
                                .card-action
                                    a#post-on-automation-2(href='http://blog.sajjad.nyc/2015/10/25/Automating-Tests-For-My-Site.html', target='_blank') Read Now
                    #banner-two
                        .col.s12.m4.l4
                            .card
                                .card-image
                                    img(src='images/banners/two.jpg')
                                    h5.card-title
                                        | Getting Started with <a>WebDriverIO</a>.
                                .card-content
                                    p
                                        | Get Node. Get npm. Install the module. Boom! Start testing anything from websites to native applications.
                                .card-action
                                    a#post-on-webdriverio(href='http://blog.sajjad.nyc/2015/11/11/Getting-Started-WebDriver-IO.html', target='_blank') Read Now
                    #banner-three
                        .col.s12.m4.l4
                            .card
                                .card-image
                                    img(src='images/banners/three.jpg')
                                    h5.card-title Singularity: An Audio Space Opera
                                .card-content
                                    p
                                        | Rebellion. War. Love. A handful of short stories linked through folds in space time.
                                .card-action
                                    | COMING SOON