// Code
section#code
    .teal.lighten-5
        .row.padding-bottom.remove-margin-bottom
            .col.s12
                .container
                    h2 I code.
                    .row.remove-margin-bottom
                        .col.s12.m6.l6
                            .card
                                .card-image
                                    img(src='images/banners/resume-builder.jpg')
                                    .card-title
                                        h5.remove-margin-bottom Resumé Builder
                                .card-content
                                    p.flow-text The curriculum vitaé of  2016.
                                    p
                                        | As a developer, I want to update my resumé, use some new, kick-ass technology & generate a web site. So that I can network with passionate minds.
                                .card-action
                                    //a(href='https://github.com/sajjadhossain/resume-builder', target='_blank') Read More
                                    | COMING SOON
                        // List of Projects
                        .col.s12.m6.l6
                            ul.collection
                                li.collection-item
                                    a#resume-builder-github(href='https://github.com/sajjadhossain/resume-builder', target='_blank')
                                        .row.remove-margin-bottom.valign-wrapper
                                            .col.s4.m3.valign.center
                                                i.material-icons.medium folder
                                            .col.s8.m9.valign
                                                p.flow-text Check out the GitHub.
                                                p
                                                    | Follow the instructions via the README. In 10 steps, you can have a customized installation of a resumé runninng locally.
                                li.teal.lighten-5.collection-item
                                    a#resume-builder-code(href='https://github.com/sajjadhossain/twoPoint0', target='_blank')
                                        .row.remove-margin-bottom.valign-wrapper
                                            .col.s4.m3.valign.center
                                                i.material-icons.medium code
                                            .col.s8.m9.valign
                                                p.flow-text Read some code.
                                                p
                                                    | Follow the documentation to see what's happening. This JavaScript file has been refactored to have traceable comments.
                                li.collection-item
                                    a#post-on-automation(href='https://github.com/sajjadhossain/twoPoint0/blob/master/test/specs/regression/home.js', target='_blank')
                                        .row.remove-margin-bottom.valign-wrapper
                                            .col.s4.m3.valign.center
                                                i.material-icons.medium code
                                            .col.s8.m9.valign
                                                p.flow-text How 'bout some tests.
                                                p
                                                    | Follow the documentation in these refactored, JavaScript-powered, tests that use WebDriverIO and Node modules.