// Bug Tracking
section#bug-tracking
    .grey.darken-4.white-text
      .row.remove-margin-bottom.p
        .col.s12
          .container
            .row.remove-margin-bottom
              .col.s12
                h2 I reproduce bugs.
                p.flow-text
                  | Since my youth I have had an inclination in finding unique ways to crash applications, forms, games and computers. This skill, if you will, has come handy in many ways. Particularly in Quality Assurance.
              .col.s12.center-align
                .padding-top.padding-bottom
                  a.waves-effect.white-text.waves-light.btn-flat(href='http://blog.sajjad.nyc/2015/11/11/The-Art-of-Reproducing-Bugs.html', target='_blank') READ MORE