// Campaigns
section#campaigns
    .teal.lighten-4.padding-bottom
      .row.remove-margin-bottom
        .col.s12
          .container
            h2 I work.
            p
              | As a Quality Assurance Analyst, I learned how to reproduce, document, triage, test and resolve bugs. In 2011, I worked with smart phones of all kinds on a groundbreaking application from Amazon Inc. After being exposed to automation, the world of software and technology became a focus of passion. Since then, my experience with Automation and Full Stack Development has exponentially increased.
            p.flow-text Get a copy of my resumé today.
            .row.remove-margin-bottom
              .col.s12.m4
                a#print-resume.waves-effect.waves-light.btn-large(href='http://resumebuilder.sajjad.nyc/SajjadHossain-Resume2015.pdf', target='_blank')
                  i.material-icons.right print
                  | Print
                .padding-bottom.hide-on-med-and-up
              .col.s12.m4
                a#view-resume.waves-effect.waves-light.btn-large(href='http://resumebuilder.sajjad.nyc', target='_blank')
                  i.material-icons.right visibility
                  | View
              .col.s12.m4.hide-on-small-only
                a#download-resume.waves-effect.waves-light.btn-large(href='http://resumebuilder.sajjad.nyc/SajjadHossain-Resume2015.pdf', target='_blank')
                  i.material-icons.right file_download
                  | Download
                .padding-bottom.hide-on-med-and-up
    .grey.darken-3
      .portfolio.hide-on-small-only
        .row.remove-margin-bottom
          .col.s12.m12.l12.portfolio-holder.remove-padding
            img.responsive-img(src='images/clients/amazon.png', data-caption='Amazon Inc.')
            img.responsive-img(src='images/clients/doubleclick.png', data-caption='DoubleClick by Google')
            img.responsive-img(src='images/clients/wetv.png', data-caption='WE Television')
            img.responsive-img(src='images/clients/amc.png', data-caption='AMC Television Network')
            img.responsive-img(src='images/clients/adcade.png', data-caption='Adcade')
            img.responsive-img(src='images/clients/comixology.png', data-caption='ComiXology Inc.')
            img.responsive-img(src='images/clients/amplify.png', data-caption='Amplify Education')
            img.responsive-img(src='images/clients/sony.png', data-caption='Sony Inc.')