// Landing
#introduction
    .grey.darken-4.landing
        section.white-text
            .row.remove-margin-bottom
                .col.s12
                    .container
                        .valign-wrapper.height-100vh
                            .valign
                                h1
                                    span.first-name Sajjad
                                    br.hide-on-med-and-up
                                    span.last-name Hossain
                                p.description Novelist, Artisan, Programmer,  Entrepreneur
        .bottom-button-div.white-text
            a#scrollto-about.hide-on-small-only(href='#about')
                i.material-icons.large keyboard_arrow_down
            a#scrollto-about.hide-on-med-and-up(href='#about')
                i.material-icons.medium keyboard_arrow_down