// More
section#more
    .row.remove-margin-bottom.padding-bottom
      .container
        .col.s12.m4
          .hide-on-med-and-up
          h4 I code.
          p.flow-text I code; all day, everyday. Check out working and documented examples of my work.
          a#scrollto-code.waves-effect.waves-light.btn-large(href='#code')
            i.material-icons.right code
            | Source
        .col.s12.m4
          .hide-on-med-and-up
          h4 I blog.
          p.flow-text
            | Some hobbies of mine include: music, art, travel and inventing. Follow my journey.
          a#scrollto-blog.waves-effect.waves-light.btn-large(href='#blog')
            i.material-icons.right subject
            | Posts
        .col.s12.m4
          .hide-on-med-and-up
          h4 I work.
          p.flow-text
            | Four years in Quality Assurance, and Automation for three years. Get a copy of my resumé.
          a#scrollto-campaigns.waves-effect.waves-light.btn-large(href='#campaigns')
            i.material-icons.right work
            | Campaigns
      .padding-bottom