// OPEN/CLOSE
#overlay.overlay.overlay-hugeinc.valign-wrapper
    a#trigger-close.overlay-close.close-button(type='button')
        i#menu-close.white-text.material-icons.medium close
    ul.center-align.valign
        li.closer
            a#goto-introduction(href='#introduction', onclick='closeTheShit()') Home
        li.closer
            a#goto-code(href='#code', onclick='closeTheShit()') Code
        li.closer
            a#goto-blog(href='#blog', onclick='closeTheShit()') Blog
        li.closer
            a#goto-campaigns(href='#campaigns', onclick='closeTheShit()') Resumé
        li.closer
            a#goto-contact(href='#contact', onclick='closeTheShit()') Contact